@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700&subset=latin-ext");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background:#8f8f9d; 
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 1.72857;
  color: #333;
 }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

b,
strong {
  font-weight: bold; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

img {
  border: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

img {
  vertical-align: middle; }

.img-circle {
  border-radius: 50%; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }
 }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  }

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold; }


.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }


.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }
  .nav:before, .nav:after {
    content: " ";
    display: table; }
  .nav:after {
    clear: both; }
  .nav > li {
    position: relative;
    display: block; }
    .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 15px; }
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #eeeeee; }
    .nav > li.disabled > a {
      color: #777777; }
      .nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
        color: #777777;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed; }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #337ab7; }
  .nav .nav-divider {
    height: 1px;
    margin: 15px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .nav > li > a > img {
    max-width: none; }

.navbar {
  position: relative;
  min-height: 76px;
  margin-bottom: 32px;
  border: 1px solid transparent;
  font-weight: 200; }
  .navbar:before, .navbar:after {
    content: " ";
    display: table; }
  .navbar:after {
    clear: both; }
  @media (min-width: 768px) {
    .navbar {
      border-radius: 4px; } }


.navbar-collapse {
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 0px solid transparent;
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
  border: 0px; }
  .navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table; }
  .navbar-collapse:after {
    clear: both; }
  .navbar-collapse.in {
    overflow-y: auto; }
  @media (min-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none; }
      .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; }
      .navbar-collapse.in {
        overflow-y: visible; }
      .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0; } }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
  border: 0px; }
  @media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
      max-height: 200px; } }

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }
  @media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }
  @media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
      border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }

.navbar-brand {
  float: left;
  padding: 22px 15px;
  font-size: 24px;
  line-height: 32px;
  height: 76px; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }
  .navbar-brand > img {
    display: block; }
  @media (min-width: 768px) {
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
      margin-left: -15px; } }

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 0px;
  margin-top: 21px;
  margin-bottom: 21px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 4px; }
  .navbar-toggle:focus {
    outline: 0; }
  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
  .navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }
  @media (min-width: 768px) {
    .navbar-toggle {
      display: none; } }

.navbar-nav {
  margin: 11px -15px; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 32px; }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none; }
      .navbar-nav .open .dropdown-menu > li > a,
      .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
      .navbar-nav .open .dropdown-menu > li > a {
        line-height: 32px; }
        .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
          background-image: none; } }
  @media (min-width: 768px) {
    .navbar-nav {
      float: left;
      margin: 0; }
      .navbar-nav > li {
        float: left; }
        .navbar-nav > li > a {
          padding-top: 22px;
          padding-bottom: 22px; } }

.navbar-white {
  background-color: rgba(255,255,255, 0.9);
  border: #fff 0px solid;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  margin-bottom: 0px; }
  .navbar-white .navbar-brand-logo {
    color: #000; }
    .navbar-white .navbar-brand-logo:hover, .navbar-white .navbar-brand-logo:focus {
      color: black;
      background-color: transparent; }
  .navbar-white .navbar-brand {
    color: #000; }
    .navbar-white .navbar-brand:hover, .navbar-white .navbar-brand:focus {
      color: black;
      background-color: transparent; }
  .navbar-white .navbar-text {
    color: #000; }
  .navbar-white .navbar-nav {
    font-size: 11px; }
    .navbar-white .navbar-nav > li > a {
      color: #000;
      letter-spacing: 2px;
      text-transform: uppercase; }
      .navbar-white .navbar-nav > li > a:hover, .navbar-white .navbar-nav > li > a:focus {
        color: #cb2d3e;
        background-color: transparent; }
    .navbar-white .navbar-nav > .active > a, .navbar-white .navbar-nav > .active > a:hover, .navbar-white .navbar-nav > .active > a:focus {
      color: #cb2d3e;
      background-color: #fbfbfb; }
    .navbar-white .navbar-nav > .disabled > a, .navbar-white .navbar-nav > .disabled > a:hover, .navbar-white .navbar-nav > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; }
  .navbar-white .navbar-toggle {
    background: none;
    border: none;
    color: #232425;
    padding: 0px 0px 0px 0px;
    font-size: 24pt;
    height: 36px;
    margin-top: 8px; }
    .navbar-white .navbar-toggle .icon-bar {
      background: none; }
  .navbar-white .navbar-collapse,
  .navbar-white .navbar-form {
    border-color: #eeeeee;
    border: 0px; }
  .navbar-white .navbar-nav > .open > a, .navbar-white .navbar-nav > .open > a:hover, .navbar-white .navbar-nav > .open > a:focus {
    background-color: #fbfbfb;
    color: #cb2d3e; }
  @media (max-width: 767px) {
    .navbar-white .navbar-nav .open .dropdown-menu > li > a {
      color: #000; }
      .navbar-white .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #cb2d3e;
        background-color: transparent; }
    .navbar-white .navbar-nav .open .dropdown-menu > .active > a, .navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #2255ff;
      background-color: #fbfbfb; }
    .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-white .navbar-link {
    color: #000; }
    .navbar-white .navbar-link:hover {
      color: #2255ff; }
  .navbar-white .btn-link {
    color: #000; }
    .navbar-white .btn-link:hover, .navbar-white .btn-link:focus {
      color: #2255ff; }
    .navbar-white .btn-link[disabled]:hover, .navbar-white .btn-link[disabled]:focus, fieldset[disabled] .navbar-white .btn-link:hover, fieldset[disabled] .navbar-white .btn-link:focus {
      color: #ccc; }

.navbar-default {
  border: none;
  background: none;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  padding: 40px 0px; }
  .navbar-default .navbar-brand-logo {
    color: #000; }
    .navbar-default .navbar-brand-logo:hover, .navbar-default .navbar-brand-logo:focus {
      background-color: transparent; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: black;
    background-color: transparent; }
  .navbar-default .navbar-text {
    color: #000; }
  .navbar-default .navbar-nav {
    font-size: 11px; }
    .navbar-default .navbar-nav > li > a {
      color: rgba(255,255,255,0.6);
      letter-spacing: 2px;
      text-transform: uppercase; }
      .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        color: #fff;;
        background-color: transparent; }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
      background-color: #fbfbfb; }
    .navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:hover, .navbar-default .navbar-nav > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; }
  .navbar-default .navbar-toggle {
    border: none;
    background: none;
    color: #eee;
    text-shadow: rgba(70, 70, 70, 0.9) 0px 1px 1px;
    padding: 0px 0px 0px 0px;
    font-size: 24pt;
    height: 36px;
    margin-top: 8px; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      color: #fff; }
    .navbar-default .navbar-toggle .icon-bar {
      background: none; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #eeeeee;
    border: 0px; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fbfbfb;
    color: #2255ff; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #000; }
      .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #2255ff;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #2255ff;
      background-color: #fbfbfb; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #ccc;
      background-color: transparent; } }
  .navbar-default .navbar-link {
    color: #000; }
    .navbar-default .navbar-link:hover {
      color: #2255ff; }
  .navbar-default .btn-link {
    color: #000; }
    .navbar-default .btn-link:hover, .navbar-default .btn-link:focus {
      color: #2255ff; }
    .navbar-default .btn-link[disabled]:hover, .navbar-default .btn-link[disabled]:focus, fieldset[disabled] .navbar-default .btn-link:hover, fieldset[disabled] .navbar-default .btn-link:focus {
      color: #ccc; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }
   }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important; }
 }
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important; }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important; }
 }
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }
}

.animated {
  animation-fill-mode: both; }

.animated.slow {
  animation-duration: 1s; }

.animated.slower {
  animation-duration: 2s; }

.animated.fast {
  animation-duration: 0.3s; }

.animated.faster {
  animation-duration: 0.2s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fadeIn {
  animation-name: fadeIn; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.fadeInDown {
  animation-name: fadeInDown; }


.navbar-brand-logo .logo {
  float: left;
  overflow: hidden;
  margin-top: 10px; }

.navbar-brand-logo .brand {
  float: left;
  font-size: 16px;
  line-height: 18px;
  margin-top: 16px;
  letter-spacing: 0.05em;
  padding: 4px 10px 6px 15px; }

.navbar .navbar-brand-logo p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  color: #111;
  float: left;
  margin-left: 0px;
  margin-top: 24px; }


.navbar .navbar-brand-logo p span {
  font-size: 18px;
  color: #111; }



.no-space {
  margin: 0px;
  padding: 0px; }


.white-background {
  background-color: #fff; }

.yellow-background {
  background-color: #efc94c; }

.grey-background {
  background-color: #d3d6db; }

.blue-background {
  background-color: #2255ff; }

.pink-background {
  background-color: #e778af; }

.hero-spacer-bg {
  background-color: #e7f0f9; }

.page-wrap {
  min-height: 100%;
  margin-top: 0px;
  }

.page-wrap:after {
  content: "";
  display: block; }

    
input.search{
  background: transparent;
  color: #FFF;
  position: relative;
  border:none;
  border-bottom:rgba(255,255,255,0.3) 1px solid;
  display: inline-block;
  width:100%;
  font-size:30pt;
  font-weight:100;
  font-family: 'Open Sans', sans-serif; 
  padding:5px 0px;
  letter-spacing:4px;
}
input.search::placeholder {
    color: rgba(255,255,255,0.3);
    font-weight:100;
    }
input.search:focus {
    outline: 0;
}
.search-wrapper {
	position:relative;
	
}
.search-wrapper > #search-results {
	position:absolute; 
	width:100%;
	-webkit-box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.34);
	-moz-box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.34);
	box-shadow: 0px 5px 25px -5px rgba(0,0,0,0.34);
	background-color:#fff;
	padding:0px;
	z-index:999990 !important;
}

.search-wrapper > #search-results > ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

.search-wrapper > #search-results > ul > li {
	margin:0px;
	padding:0px;
	background:rgb(222,222,222);
}

.search-wrapper > #search-results > ul > li > a {
	font-size:18pt;
	font-family: 'Open Sans', sans-serif;
	display:block;
	text-decoration:none;
	color:#767576;
	font-weight:100;
	padding:8px 20px;
	background: rgba(255,255,255, 1);
	border-bottom:rgba(0,0,0, 0.08) 1px solid;
}

.search-wrapper > #search-results > ul > li > a:active, .search-wrapper > #search-results > ul > li > a:hover,
.search-wrapper > #search-results > ul > li > a:active, .search-wrapper > #search-results > ul > li > a.active {
  background-color: rgba(235,51,73, 0.1);
	color:#000;
}

.highlightedText {
    background: #FFeC00;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 90px 0px;
}