<div class="row" data-ng-controller="HakkindaController">
        <div class="col-md-8 col-sm-12 col-lg-8 col-xl-8 result">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>
                        <span ng-click="close()" class="pull-right close-icon circle-icon">+</span>
                        Hakkında
                    </h1>
                </div>
            </div>
            <p>
                Bilişim sektöründeki Türkçe yazılarda çok sık karşılaştığım İngilizce kelimelerin 
                Türkçe karşılıklarına kolayca erişilebilecek, bu sektörde çalışanların desteği ile 
                doğru Türkçe kelimelerin önerilmesini sağlayacak bir uygulamadır. 
            </p>
            <p>
                Ticari herhangi bir amacı bulunmamaktadır. Sadece yazdığımız Türkçe kaynakların daha 
                okunaklı ve daha anlaşılır olmasına yardımcı olabilecek ek bir uygulama olarak 
                düşünebilirsiniz. Bi yerde "Plaza Türkçesi" diye tabir edilen terimler için de 
                kullanıabileceği düşünülmektedir.
            </p>
            <p>
                Bir miktar veri birikene kadar, henüz onaylanmamış olan içerikler de uygulamada 
                görüntülenebilmektedir. 
            </p>

            <p>Çıkış Noktası: <a href="https://twitter.com/fsonmezay/status/1079464983115845634">https://twitter.com/fsonmezay/status/1079464983115845634</a></p>
        </div>
    </div>