<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bilişimciler İçin Türkçe Sözlük</title>
<meta name="description" content="">

<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
<link rel="icon" href="./favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="./css/main.css">
<link rel="canonical" href="https://turkce.me/">

</head>

<body data-ng-app="turkceme" data-ng-controller="TurkceAppController"
	ng-cloak>
	<header class="site-header">
		<div class="wrapper">
			<nav class="navbar navbar-default navbar-fixed-top" id="mysiteNav">
				<div class="container animated slow fadeIn">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
							<div class="navbar-header">
								<div class="collapsed">
									<div style="padding-top: 16px;">
										<img src="./images/logo.png"
											alt="Bilişimciler için Türkçe sözlük" />
									</div>

									<button type="button"
										class="no-space navbar-toggle collapsed pull-right"
										data-toggle="collapse" data-target="#navbar"
										aria-expanded="false" aria-controls="navbar">
										<i class="ion-navicon collapsed pull-right"> </i>
									</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</nav>
		</div>
	</header>

	<div class="page-wrap" id="page-wrap" style="">
		<div class="outer">
			<div class="middle">
				<div class="inner">
					<div class="container">
						<div class="row animated slow fadeIn" key-trap>
							<div class="col-md-12">
								<div class="search-wrapper" data-ng-if="$root.isSearchVisible" >
									<input autofocus autocomplete="off"
										type="text" ng-change="search()" ng-model="$root.searchKey"
										class="search" placeholder="Search Yap" name="key" />
									<div id="search-results" class="animated slow fadeIn"
										data-ng-if="searchResult.length > 0">
										<ul>
											<li data-ng-repeat="item in searchResult track by $index">
													<div class="circle-status" data-ng-class="{1:'active', 0:'inactive'}[item.state]"> </div>
												<a href="" ng-click="open(item.locution_key)"
													ng-class="{'active': $index == focusIndex}"> 
														<span
													ng-bind-html="highlight(item.locution, searchKey)"></span>
													<span style="color:#F65667; font-size:14px; float:right; margin-top:10px;" data-ng-if="item.state==0">Henüz Onaylanmadı!..</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<ng-view onload="search"></ng-view>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
					<div>
						<ul>
							<li><a class="page-scroll" href="#home"> Anasayfa</a></li>
							<li><a class="page-scroll" href="#hakkinda"> Hakkında</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</footer-->
</body>

<script type="text/javascript" src="./js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="./js/jquery.easing.min.js"></script>
<script type="text/javascript" src="./js/angular.js"></script>
<script type="text/javascript" src="./js/angular-sanitize.min.js"></script>
<script type="text/javascript" src="./js/angular-route.min.js"></script>
<script type="text/javascript" src="./js/turkceme.js"></script>
<script type="text/javascript" src="./js/custom.js"></script>
</html>